
@{
    ViewData["Title"] = "DeleteAll";
}

<h2>DeleteAll</h2>

<h3>Are you sure you want to delete All?</h3>

<form asp-action="DeleteAll">
    <input type="submit" value="Delete All" class="btn btn-default" /> |
    <a asp-action="Index">Back to List</a>
</form>